.container {
    padding: 0;
    min-height: 100%;
    display: grid;
    justify-content: center;
    border: 1px solid rgba(rgb(59, 59, 59), rgb(59, 59, 59), rgb(99, 99, 99), .5) ;
}

.header-icon {
    max-width: 55px;
    max-height: 60px;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 20px;

}


/*
main
*************************/

.main {
    width: 100%;
    max-width: 600px;
    border-left: 1px solid rgb(235, 238, 240);
    border-right: 1px solid rgb(235, 238, 240);
}

.container  {
    display: grid;
    justify-content: center;
    align-items:left; 
}

.twitter-header h2 {
    font-size: 40px;
    line-height: 20px;
    margin-bottom: 100px;
    font-weight: bold;

}

.user-post {
    width: 100%;
    max-height: 200px;
    border: 1px solid lightgray;
    display: inline-block;
    column-span: 1;
    margin-bottom: 45px;

}

.tweet-body {
    width: 1000px;
    height: 200px;
    align-content: center;
}

.tweet-btn {
    width: 70px;
    height: 25px;
    justify-content: right;
    background-color: cadetblue;
}

.ditch {
    height: 30px;
    width: 100%;
}

.timeline {
    display: inline-flex;
    align-content: center;
    border: 1px solid black;
    align-content: space-between;
}






