<!DOCTYPE html>
{% load static %} {% load cloudinary %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'img/droplet.svg' %}" />
    <!-- bootstrap/css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <!--FontAwesome -->
    <script
      src="https://kit.fontawesome.com/da8acf5d2d.js"
      crossorigin="anonymous"
    ></script>

    <title>Reante-Twitter</title>
  </head>

  <body class="home" style="background-color: rgba(26, 91, 121, 0.5)">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img
          src="{% static 'img/favicon.png' %}"
          width="40"
          height="40"
          class="d-inline-block align-mid"
          alt=""
        />
        Home
      </a>
    </nav>

    <div class="container">
      <div class="main">
        <div class="user-post">
          <div class="user-icon">
            <!-- <img
              src="{% static 'img/profile image.png' %}"
              width="100px"
              height="100px"
            /> -->
          </div>
          <div class="offset-3 col-md-6 span">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="mt-4 mb-2">{{ form.name }}</div>

              {{ form.body }}

              <div class="mb-1 mt-2">{{ form.image }}</div>

              <input class="btn btn-primary mb-4" type="submit" value="Tweet" />
            </form>
          </div>
        </div>

        <div class="offset-4 col-md-4 span">
          {% for tweet in tweets %}
          <div class="card mb-3 mt-3 form-control">
            <div class="card-body">
              <div class="dropdown float-end">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                ></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/Edit-Tweet/{{ tweet.id }}/"
                    >Edit</a
                  >
                  <a class="dropdown-item" href="/Delete/{{ tweet.id }}/"
                    >Delete</a
                  >
                </div>
              </div>
              <img
                src="{% static 'img/profile image.png' %}"
                class="rounded-circle"
                width="69"
                height="68"
              />

              <h5 class="card-title">{{ tweet.name }}</h5>
              <p class="card-text">{{ tweet.body }}</p>
              <p class="card-text">
                <small class="text-muted">{{ tweet.created_at}}</small>
              </p>
            </div>
            <img
              src="{{ tweet.image.url }}"
              width="100px"
              class="card-img-top"
            />
            <div class="likes">{{ tweet.like_count}}</div>
            <span><i class="far fa-heart"></i> </span>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
    <script>
      var btn = document.getElementsByClassName("fa-heart");
      Array.from(btn).forEach((element) => {
        console.log("adding eventlisteners");
        element.addEventListener("click", function () {
          if (this.classList.contains("far")) {
            console.log("adding if");
            this.classList.remove("far");
            this.classList.add("fas");
          } else {
            console.log("adding else");
            this.classList.remove("fas");
            this.classList.add("far");
          }
        });
      });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
