<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Load</title>
</head>
<body>
    {% load cloudinary %}

    <h2>Upload post</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.name }}
        {{ form.body }}
        {{ form.image }}
        {{ form.like_count }}

        <div>
            <br>
            <input type="submit" value= "tweet" >
        </div>
    </form>

    

</body>
</html> 